awsAccountId: "991225504892"
users:
  - username: romcheg.prihod+latin-ua@gmail.com
    admin: true
  - username: katrin.shaphorostova+latin-ua@gmail.com
    admin: true
  - username: metiletan+latin-ua@gmail.com
    admin: true
  - username: tane4ka377+latin-ua@gmail.com
    admin: true
  - username: tane4ka378+latin-ua@gmail.com
    admin: true
